* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#baner1 {
    width: 100%;
    height: 400px;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    position: absolute;
    z-index: 3;
    font-size: 10rem;
}

.baner {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 49% 53%;
    position: relative;
    z-index: -3;
    opacity: .8;
}


#tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#tienda .elementos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:200px auto;
    grid-template-areas:
        "opciones productos"
    ;
}

h2 {
    font-size: 5rem;
    margin: 3rem;
    margin-bottom: 2rem;
}

.fondo {
    position: absolute;
    z-index: -3;
    opacity: 0.5;
    width: 100%;
    height: 90rem;
    margin-bottom: 0px;
}

#tienda .filtros {
    grid-area: opciones;
    display: flex;
    flex-direction: column;
    list-style: none; 
    
    width: 100%;
    padding: 5px;
    font-size: 25px;

}

.label {
    display: block;
}

.label:hover {
    opacity: .7;
}
.titulos{
    border: none;
    background: none;
    font-size: 2rem;

}

.imagenes {
    width: 340px;
    height: 360px;
}
#contenedor{
    grid-area: productos;
}
#productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.tarjeta {
    box-shadow: 4px 2px 10px 2px #d1cfcd !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.boton {
    margin-bottom: 1rem;
    background-color: #d1cfcd;
    border-color: #d1cfcd !important;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}

.tarjeta .precio {
    font-style: oblique;
    font-weight: bold;
}

.tarjeta p {
    font-size: 2em;
}

#campoCarrito{
    border: solid;
    width: 180px;
    height: 500px;
    background-color: rgb(209, 207, 205, .6);
}
.ocultar{
    display: none;
}

.mostrar{
    display: flex;
}

.icono{
    width: 20px;
    z-index: 0;
}